@charset "utf-8";
@import url("reset.css");
@import url("popup.css");

/* 로그인 */
#sectionLogin {position:absolute; top: 50%; left: 0; width: 100%; margin: -174px 0 0 0;}
#sectionLogin h1 {text-align:center;}
#sectionLogin .adminLine {margin: 20px 0 0 0; text-align:center; background: url('../../images/common/log_bg.gif') 0 0 repeat-x;}
#sectionLogin .inputLogin {position:relative; width: 294px; height: 102px; margin: 30px auto 0 auto; padding: 36px 0 0 34px; background: url('../../images/common/inputLogin_bg.gif') 0 0 no-repeat;}
#sectionLogin .inputLogin .logBtn {position:absolute; top: 38px; left: 229px;}
#sectionLogin .inputLogin dl dt {display:none;}
#sectionLogin .inputLogin dl dd {height: 36px;}
#sectionLogin .inputLogin dl dd .textG {width: 179px; height: 28px; line-height: 28px; padding: 0 0 0 4px; border: 1px solid #c4d0e0; background: #f7f9fb;}
#sectionLogin .footer {margin: 36px 0 0 0; text-align:center; font-size: 12px;}
/* //로그인 */

.datePicker {margin: 0 10px 0 0; padding: 0 10px 0 0; border-right: 1px solid #dadada;}
.week li {padding: 4px 0;}
.week li label {display:inline-block; width: 40px; padding: 0; font-weight: bold;}

/* paging */
.paging * {vertical-align:middle;}
.paging {margin: 20px 0 0 0; text-align:center;}
.paging a {display:inline-block;}
.paging span a {margin: 0 2px; padding: 0 6px; border:1px solid #dadada; font-weight: bold; color:#333; border:1px solid #dadada;}
.paging span a.on {color:#f47006; border:1px solid #f47006;}

#wrapper {position:relative; min-width: 980px; padding: 0 0 0 0;}
h3.tit {margin: 40px 0 5px 0; padding: 6px 0 6px 15px; background: #efefef; color:#333;}

/* header */
#header {position:absolute; top: 0; left: 0; width: 100%; }
#header .header {height: 52px; padding: 13px 0 0 40px; border-bottom: 2px solid #338cd1;}
#header .header h1 {float:left;}
#header .header #gnb {overflow:hidden; padding: 5px 0 0 40px;}
#header .header #gnb a {float:left; padding: 0 35px; border-left: 1px solid #c9c9c9;}
#header .header #gnb a:first-child {border-left: none;}

.header .userInfo * {vertical-align:middle;}
.header .userInfo {position:absolute; top: 13px; right: 40px;}
.header .userInfo .pic {display:inline-block; }
.header .userInfo .pic img {width: 30px; height: 34px; border: 2px solid #89b0d5;}
.header .userInfo strong span {vertical-align:baseline;}
.header .userInfo .line {color:#c9c9c9; padding: 0 14px;}
.header .userInfo a {font-weight: bold;}

/* tabHeader */
#tabHeader {}
#tabHeader {overflow:hidden; position:absolute; top: 0; left: 0; width: 100%; }
#tabHeader .header {height: 59px; padding: 6px 0 0 10px;}
#tabHeader .header .thumInfo * {vertical-align:middle;}
#tabHeader .header .thumInfo .thum {width: 74px; height: 52px; margin: 0 15px 0 0; border: 1px solid #dadada;}
#tabHeader .header .thumInfo  strong {font-size: 16px;}
#tabHeader #gnb {overflow:hidden; height: 25px; padding: 3px 0 0 10px; background: #338cd1;}
#tabHeader #gnb ul {}
#tabHeader #gnb ul li {float:left; background: url('../../images/common/gnb_line.gif') 0 50% no-repeat;}
#tabHeader #gnb ul li:first-child {background: none;}
#tabHeader #gnb ul li a {display:inline-block; height: 25px; padding: 0 26px; font-weight: bold; color:#fff; line-height: 25px; }
#tabHeader #gnb ul li a:hover,
#tabHeader #gnb ul li a.on {background: #fff; color:#1976c6;}

/* lnb */
#lnb {float:left; width: 175px; position:relative; left: -10px; background: #eff5f8;}
#lnb .menu {height: 36px; line-height: 36px; background: #338cd1 url('../../images/common/icon/arrowM_lnb.gif') 124px 50% no-repeat; color:#fff; text-align:center; font-weight: bold;}
#lnb ul {padding: 0 0 0 15px;}
#lnb ul li {margin: 18px 0 0 0;}
#lnb ul li a {padding: 0 0 0 9px; font-weight: bold; background: url('../../images/common/icon/arrow_lnb.gif') 0 5px no-repeat;}
#lnb ul li a.on,
#lnb ul li a:hover {color:#1976c6; background-position: 0 -23px;}

#container {padding: 67px 10px 0 10px;}
#container.infoView {padding-top: 93px;}
#contents {overflow:hidden; position:relative; padding-bottom: 20px;}

.viewtype {overflow:hidden; margin: 8px 0 8px 0; font-size:0;}
.viewtype a {overflow:hidden; display:inline-block; width: 26px; height: 25px; background: url('../../images/common/icon/viewType.gif') 0 0 no-repeat; font-size: 0;}
.viewtype .thumType {}
.viewtype .thumType.on {background-position:0 -25px;}
.viewtype .listType {background-position: right 0;}
.viewtype .listType.on {background-position: right -25px;}

.selectArea * {vertical-align:middle;}
.selectArea {margin: 8px 0 10px 0; padding: 12px 20px 12px 20px; text-align:right; background: #f7f9fb;}

.selectAreaM * {vertical-align:middle;}
.selectAreaM {position:relative; margin: 8px 0 10px 0; padding: 12px 20px 8px 20px; background: #f7f9fb;}
.selectAreaM ul li {padding: 3px 0 3px 0 ;}
.selectAreaM ul li .label {display:inline-block; width: 70px; font-size: 12px; margin: 0 0 0 50px;}
.selectAreaM ul li .label:first-child {margin-left: 0;}
.selectAreaM ul li .datePicker {border: 0;}
.selectAreaM .btn {position:absolute; bottom: 12px; right: 20px;}

/* 텍스트 뷰1 */
.tbList1 {overflow:hidden; width: 100%;}
.tbList1 table {width: 100%; border-top: 2px solid #9fbed6; margin: 0 0 0 -1px;;}
.tbList1 table thead {}
.tbList1 table thead th {height: 30px; border-left: 1px solid #9fbed6; border-bottom: 1px solid #9fbed6; color:#536c91;}
.tbList1 table thead th.gray {background: #f7f9fb;}
.tbList1 table thead th a {color:#536c91;}
.tbList1 table thead .secLine th {border-left: 1px solid #9fbed6; font-weight: normal;}
.tbList1 table tbody td * {vertical-align:middle;}
.tbList1 table tbody td {padding: 10px 0; border-bottom:1px solid #dadada; text-align:center;}
.tbList1 table tbody td .thum {margin-right: 10px; border:1px solid #dadada;}
.tbList1 table tbody td.aLeft {padding-left: 10px; text-align:left;}
.tbList1 table tbody td .pic {width: 60px; height: 70px; border:1px solid #c7c7c7;}

/* 텍스트 뷰2 */
.tbList2 {overflow:hidden; width: 100%;}
.tbList2 table {width: 100%; border-top: 2px solid #9fbed6; margin: 0 0 0 -1px;;}
.tbList2 table thead {}
.tbList2 table thead th {height: 30px; border-left: 1px solid #9fbed6; border-bottom: 1px solid #9fbed6; color:#536c91;}
.tbList2 table thead th {background: #f7f9fb;}
.tbList2 table thead th .icon {display:inline-block; margin: 0 4px;}
.tbList2 table thead th a {color:#536c91;}
.tbList2 table tbody td * {vertical-align:middle;}
.tbList2 table tbody td {padding: 10px 0; border-left: 1px solid #9fbed6; border-bottom:1px solid #9fbed6; text-align:center;}
.tbList2 table tbody td .thum {margin-right: 10px; border:1px solid #dadada;}
.tbList2 table tbody td.aLeft {padding-left: 10px; text-align:left;}
.tbList2 table tbody td .lecture {font-size: 18px; color:#333;}
.tbList2 table tbody td .lecTime {margin: 10px 0 0 0; color: #1c78c2; font-size: 12px;}
.tbList2 table tbody td .studentNum {margin: 4px 0; font-size: 12px;}
.tbList2 table tbody tr.suspense td {background: #f7f9fb;}

.tbList2 .stInfo {padding: 0 !important; vertical-align:top;}
.tbList2 .stInfo table {border-top: 0;}
.tbList2 .stInfo table tr td {padding: 12px 0 11px 0; border-left: 1px solid #9fbed6; border-top:1px solid #dadada; border-bottom: none !important ;}
.tbList2 .stInfo table tr:first-child td {border-top: none !important}

/* 썸네일 뷰 */
.thumList {overflow:hidden; width: 100%;}
.thumList ul {margin: 0 0 0 -56px; display:inline-block;}
.thumList ul li {float:left; width: 150px; height: 180px; margin: 0 0 0 56px;}
.thumList ul li .thum {width: 148px; height: 103px; border: 1px solid #dadada;}
.thumList ul li strong {display:block; line-height: 1.4; text-align:center;}

.hGroup {position:relative; margin: 15px 0 15px 0;}
.hGroup h2 {padding: 0 0 0 10px; background: url('../../images/common/icon/arrow_h2.gif') 0 50% no-repeat; line-height: 1; color:#333;}
.hGroup .btn {position:absolute; top: -4px; right: 0;}

.tblForm {overflow:hidden; border-top: 2px solid #9fbed6; border-bottom:1px solid #bfcddc;}
.tblForm table {margin: -1px 0 0 0;}
.tblForm table tbody {}

.tblForm table tbody th,
.tblForm table tbody td {border-top: 1px solid #dadada}
.tblForm table tbody th {padding-left: 15px; background: #f7f9fb; text-align:left; letter-spacing: -1px;}
.tblForm table tbody th strong {padding: 0 0 0 12px; color:#536c91;}
.tblForm table tbody th strong.star {background: url('../../images/common/icon/star.gif') 0 50% no-repeat;}
.tblForm table tbody td * {vertical-align:middle;}
.tblForm table tbody td {padding: 7px 0 7px 15px;}
	.profile {width: 100px; text-align:center;}
	.profile .thum {width: 100px; height: 120px; margin: 0 0 4px 0 ;border: 1px solid #c7c7c7;}

	.logoUpload {overflow:hidden;}
	.logoUpload .preview {float:left; width:100px; height: 100px; margin: 0 10px 0 0; border:1px solid #efefef;}
	.logoUpload .preview img {width: 100px; height: 100px;}
	.logoUpload .cnt {padding: 60px 0 0 0;}
	.logoUpload .cnt p {font-size: 12px; margin: 0 0 2px 0;}

	.campusChk {margin: 8px 0 0 0;}
	.campusChk li {float:left; width: 150px; padding: 3px 0;}
	.campusChk li label {font-size: 12px;}

/* 학습구성 */
.studyMakeup {position:relative; overflow:hidden; padding: 15px; border-bottom:1px solid #bfcddc;}
.studyMakeup .control {position:absolute; top: 180px; left: 426px;}
.studyMakeup .control a {display:block; margin: 4px 0;}
.studyMakeup .sideL {width: 400px; float:left;}
.studyMakeup .sideR {width: 400px; float:left; margin: 0 0 0 70px;}
.studyMakeup .sideR .listArea {margin: 28px 0 0 0;}

.studyMakeup .tab {overflow:hidden; margin-top: 6px;}
.studyMakeup .tab a {float:left; height: 22px; line-height: 22px; margin: 0 1px 0 0; padding: 0 10px; background: #efefef;}
.studyMakeup .tab a:hover,
.studyMakeup .tab a.on {background: #338cd1; color:#fff;}
.studyMakeup .listArea {overflow:hidden; overflow-y: auto; height: 309px; border:2px solid #dadada;}
.studyMakeup .listArea ul {}
.studyMakeup .listArea ul li {padding: 6px 10px; border-bottom:1px solid #dadada; cursor: pointer;	}
.studyMakeup .listArea ul li.on,
.studyMakeup .listArea ul li:hover {background: #f7f9fb; font-weight: bold; letter-spacing: -1px;;}
.studyMakeup .item {color:#333;}

.bookInfo * {vertical-align:middle;}
.bookInfo {margin: 0 0 14px 0; padding:6px; border: 1px solid #9fbed6; background: #f7f9fb;}
.bookInfo .thum {display:inline-block; width: 80px; height: 100px; margin: 0 6px 0 0; border:1px solid #dadada;}
.bookInfo .thum img {width: 80px; height: 100px;}
.bookInfo strong {font-size: 16px;}

.tabArea {overflow:hidden; height: 25px; margin: 0 0 1px 0; padding: 3px 10px 0 10px; background: #9fbed6;}
.tabArea ul {float:right;}
.tabArea ul li {float:left; background: url('../../images/common/gnb_line.gif') 0 50% no-repeat;}
.tabArea ul li:first-child {background: none;}
.tabArea ul li a {display:inline-block; height: 25px; padding: 0 20px; font-weight: bold; color:#fff; line-height: 25px; font-size: 12px; letter-spacing: -1px;}
.tabArea ul li a:hover,
.tabArea ul li a.on {background: #fff; color:#1976c6;}

#infoCnt .tabArea {padding-left: 3px !important;}
#infoCnt .tabArea ul {float:left;}