@charset "utf-8";

@font-face{
   /* font-family: HN;
    src:url('font/HelveticaNeue.eot');
    src:local(※), url('font/HelveticaNeue.woff') format('woff')
	*/
}


/* Reset */
html,body{width:100%; height:100%; position:relative;}
body {line-height: 1.4; font-size: 13px; color: #666; font-family: arial, dotum, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-size: 13px;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, 
input, select, textarea {margin: 0; padding: 0;}
legend {display:none;}
mark {background: none;}
fieldset {border: none;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

img {border: none;}
em {font-style: normal;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0; table-layout: fixed; width: 100%;}
a {text-decoration: none; color:#666;}
input, select, textarea {font-family: arial, dotum, sans-serif; font-size: 13px; color:#666; vertical-align:middle;}
button {border: 0;}
.none {display:none;}
.first {margin-top: 0 !important;}

/* text color */
.txtRed {color: #ef011e;}
.txtBlue {color: #1c78c2;}

.text {height: 18px; border: 1px solid #c7c7c7; padding: 0 0 0 4px;}
.textarea {padding: 4px; border: 1px solid #c7c7c7; }
.rdo {width: 13px; height: 13px; margin: 0 4px 0 0;}
.chk {width: 13px; height: 13px; margin: 0 4px 0 0;}
label {padding: 0 20px 0 0;}
label.type1 {padding: 0 0 0 20px ;}
label.type1.star {background: url('../../images/common/icon/star.gif') 10px 50% no-repeat;}

.inputFile {border: 1px solid #999;}			

.btnRed,
.btnBlue,
.btnGray,
.btnGrayL {cursor: pointer}

/* 레드 버튼 */
.btnRed,
.btnRed strong,
.btnRed span {line-height: 1; display:inline-block; height: 20px; background: url('../../images/common/btn/red_bg.gif') right 0 no-repeat;}
.btnRed {padding: 0 10px 0 0;}
.btnRed strong,
.btnRed span {line-height: 20px; padding: 0 0 0 10px ; color:#fff; background-position:0 0;}
.btnRed img {margin-right: 4px;}

/* 블루 버튼 */
.btnBlue,
.btnBlue span {line-height: 1; display:inline-block; height: 20px; background: url('../../images/common/btn/blue_bg.gif') right 0 no-repeat;}
.btnBlue {padding: 0 10px 0 0;}
.btnBlue span {line-height: 20px; padding: 0 0 0 10px ; color:#1c78c2; background-position:0 0;}

/* btnArea */
.btnArea {position:relative; overflow:hidden; margin: 12px 0 0 0; text-align:center;}
.btnArea .sideL {float: left;}
.btnArea .sideR {float: right;}

/* 그레이 버튼 */
.btnGray,
.btnGray span {line-height: 1; display:inline-block; height: 20px; background: url('../../images/common/btn/gary_bg.gif') right 0 no-repeat;}
.btnGray {padding: 0 10px 0 0;}
.btnGray span {line-height: 20px; padding: 0 0 0 10px ; color:#333; background-position:0 0;}
.btnGray img {margin-right: 4px;}

/* 그레이 버튼 */
.btnGrayL,
.btnGrayL span {line-height: 1; display:inline-block; height: 38px; background: url('../../images/common/btn/gary_bgL.gif') right 0 no-repeat;}
.btnGrayL {padding: 0 10px 0 0;}
.btnGrayL span {padding: 3px 0 0 10px ; color:#333; background-position:0 0;}

/* date picker */
.ui-datepicker {display:none;width:180px;padding:1px;border:2px solid #9fbed6;color:#222222;background:#ffffff; -webkit-box-shadow: 2px 2px 6px 0 rgba(0,0,0, 0.4)}
.ui-datepicker .ui-datepicker-header {position:relative;margin:0 0 5px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position:absolute;top: 4px;width:11px;height:10px;font:0/0 Arial;padding:4px;cursor:pointer;}
.ui-datepicker .ui-datepicker-prev {left:35px;background:url('../../images/common/calendar_prev.gif') no-repeat 4px 4px;}
.ui-datepicker .ui-datepicker-next {right:35px;background:url('../../images/common/calendar_next.gif') no-repeat 4px 4px;_right:15px;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {display:block;position:absolute;left:50%;top: 50%;}
.ui-datepicker .ui-datepicker-title * {vertical-align:top;}
.ui-datepicker .ui-datepicker-title {padding: 4px 0 0 0; font-size:12px;letter-spacing:-1px;text-align:center; font-family:verdana;font-weight:bold;}
.ui-datepicker .ui-datepicker-title select {font-size:1em;margin:1px 0;}
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year {width:49%;}
.ui-datepicker table {width:100%;font-size:.916em;border-collapse:separate;background:#fff;border-top:1px solid #ededed;}
.ui-datepicker th {padding:2px 0;text-align:center;background:#fbfbfb;border-bottom:1px solid #ededed;}
.ui-datepicker td {border:0;padding:2px 0;font-family:tahoma;font-size:12px;}
.ui-datepicker td span, .ui-datepicker td a {display: block; text-align:center;padding:3px 0;}
.ui-datepicker .ui-datepicker-buttonpane {position:absolute;right:1px;top:1px;}
.ui-datepicker .ui-datepicker-buttonpane button {cursor: pointer;border:none;margin:0;padding:0;width:18px;height:18px;background:#b4aa9f url('../../images/common/calendar_close.gif') no-repeat 50% 50%;overflow:visible;font:0/0 Arial;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float:left;display:none;}
.ui-datepicker tr td:first-child a, 
.ui-datepicker tr th:first-child a {color:#d45b47;}
.ui-datepicker span.ui-state-default {color:#c2c2c2;}
.ui-datepicker a.ui-state-default {color:#010101;}
.ui-datepicker td .ui-state-hover {background:#ededed;}
.ui-datepicker td .ui-state-highlight {background: #f7d37f;}