@charset "utf-8";
@import url("reset.css");
@import url("popup.css");

/* 로그인 */
#sectionLogin {position:absolute; top: 50%; left: 0; width: 100%; margin: -174px 0 0 0;}
#sectionLogin h1 {text-align:center;}
#sectionLogin .adminLine {margin: 20px 0 0 0; text-align:center; background: url('../../images/common/log_bg.gif') 0 0 repeat-x;}
#sectionLogin .inputLogin {position:relative; width: 294px; height: 102px; margin: 30px auto 0 auto; padding: 36px 0 0 34px; background: url('../../images/common/inputLogin_bg.gif') 0 0 no-repeat;}
#sectionLogin .inputLogin .logBtn {position:absolute; top: 38px; left: 229px;}
#sectionLogin .inputLogin dl dt {display:none;}
#sectionLogin .inputLogin dl dd {height: 36px;}
#sectionLogin .inputLogin dl dd .textG {width: 179px; height: 28px; line-height: 28px; padding: 0 0 0 4px; border: 1px solid #c4d0e0; background: #f7f9fb;}
#sectionLogin .footer {margin: 36px 0 0 0; text-align:center; font-size: 12px;}
/* //로그인 */

.datePicker {margin: 0 10px 0 0; padding: 0 10px 0 0; border-right: 1px solid #dadada;}
.week li {padding: 4px 0;}
.week li label {display:inline-block; width: 40px; padding: 0; font-weight: bold;}

/* paging */
.paging * {vertical-align:middle;}
.paging {margin: 20px 0 0 0; text-align:center;}
.paging a {display:inline-block;}
.paging span a {margin: 0 2px; padding: 0 6px; border:1px solid #dadada; font-weight: bold; color:#333; border:1px solid #dadada;}
.paging span a.on {color:#f47006; border:1px solid #f47006;}

#wrapper {position:relative; min-width: 980px; padding: 0 0 0 0;}
h3.tit {margin: 40px 0 5px 0; padding: 6px 0 6px 15px; background: #efefef; color:#333;}

/* header */
#header {position:absolute; top: 0; left: 0; width: 100%; }
#header .header {height: 52px; padding: 13px 0 0 40px; border-bottom: 2px solid #39b54a;}
#header .header h1 {float:left;}
#header .header #gnb {overflow:hidden; padding: 5px 0 0 40px;}
#header .header #gnb a {float:left; overflow: hidden; height:  29px; padding: 0 35px; border-left: 1px solid #c9c9c9;}
#header .header #gnb a.on img,
#header .header #gnb a:hover img {margin-top: -29px;}
#header .header #gnb a:first-child {border-left: none;}

.header .userInfo * {vertical-align:middle;}
.header .userInfo {position:absolute; top: 13px; right: 40px;}
.header .userInfo .pic {display:inline-block; }
.header .userInfo .pic img {width: 30px; height: 34px; border: 2px solid #89d589;}
.header .userInfo strong span {vertical-align:baseline;}
.header .userInfo .line {color:#c9c9c9; padding: 0 14px;}
.header .userInfo a {font-weight: bold;}

/* tabHeader */
#tabHeader {}
#tabHeader {overflow:hidden; position:absolute; top: 0; left: 0; width: 100%; }
#tabHeader .header {height: 59px; padding: 6px 0 0 10px;}
#tabHeader .header .thumInfo * {vertical-align:middle;}
#tabHeader .header .thumInfo .thum {width: 74px; height: 52px; margin: 0 15px 0 0; border: 1px solid #dadada;}
#tabHeader .header .thumInfo  strong {font-size: 16px;}
#tabHeader #gnb {overflow:hidden; height: 25px; padding: 3px 0 0 10px; background: #39b54a;}
#tabHeader #gnb ul {}
#tabHeader #gnb ul li {float:left; background: url('../../images/common/gnb_line.gif') 0 50% no-repeat;}
#tabHeader #gnb ul li:first-child {background: none;}
#tabHeader #gnb ul li a {display:inline-block; height: 25px; padding: 0 26px; font-weight: bold; color:#fff; line-height: 25px; }
#tabHeader #gnb ul li a:hover,
#tabHeader #gnb ul li a.on {background: #fff; color:#38b449;}

/* lnb */
#lnb {float:left; width: 175px; position:relative; left: -10px; background: #eff8ef;}
#lnb .menu {height: 36px; line-height: 36px; background: #39b54a url('../../images/common/icon/arrowM_lnb.gif') 124px 50% no-repeat; color:#fff; text-align:center; font-weight: bold;}
#lnb ul {padding: 0 0 0 15px;}
#lnb ul li {margin: 18px 0 0 0;}
#lnb ul li a {padding: 0 0 0 9px; font-weight: bold; background: url('../../images/common/icon/arrow_lnb.gif') 0 5px no-repeat;}
#lnb ul li a.on,
#lnb ul li a:hover {color:#38b449; background-position: 0 -23px;}

#container {padding: 67px 10px 0 10px;}
#container.infoView {padding-top: 93px;}
#contents {overflow:hidden; position:relative; padding-bottom: 20px;}

/* 기관 */
.viewtype {overflow:hidden; margin: 8px 0 8px 0; font-size:0;}
.viewtype a {overflow:hidden; display:inline-block; width: 26px; height: 25px; background: url('../../images/common/icon/viewType.gif') 0 0 no-repeat; font-size: 0;}
.viewtype .thumType {background-position:0 -25px;}
.viewtype .thumType.on {background-position: 0 0;}
.viewtype .listType {background-position: right -25px;}
.viewtype .listType.on {background-position: right 0;}

.insLogo .thum {width: 148px; height: 103px; border: 1px solid #dadada;}

.selectArea * {vertical-align:middle;}
.selectArea {margin: 8px 0 10px 0; padding: 12px 20px 12px 20px; text-align:right; background: #f7f9fb;}

.selectAreaM * {vertical-align:middle;}
.selectAreaM {position:relative; margin: 8px 0 10px 0; padding: 12px 20px 8px 20px; background: #f7f9fb;}
.selectAreaM ul li {padding: 3px 0 3px 0 ;}
.selectAreaM ul li .label {display:inline-block; font-size: 12px; margin: 0 10px 0 50px;}
.selectAreaM ul li .label:first-child {margin-left: 0;}
.selectAreaM ul li .datePicker {border: 0;}
.selectAreaM .btn {position:absolute; bottom: 12px; right: 20px;}

/* 텍스트 뷰1 */
.tbList1 {overflow:hidden; width: 100%;}
.tbList1 table {width: 100%; border-top: 2px solid #9fd6ac; margin: 0 0 0 -1px;;}
.tbList1 table thead {}
.tbList1 table thead th {height: 30px; border-left: 1px solid #9fd6ac; border-bottom: 1px solid #9fd6ac; color:#539163;}
.tbList1 table thead th.gray {background: #f7fbf8;}
.tbList1 table thead th a {color:#539163;}
.tbList1 table thead .secLine th {border-left: 1px solid #9fd6ac; font-weight: normal;}
.tbList1 table tbody td * {vertical-align:middle;}
.tbList1 table tbody td {padding: 10px 0; border-bottom:1px solid #dadada; text-align:center;}
.tbList1 table tbody td .thum {margin-right: 10px; border:1px solid #dadada;}
.tbList1 table tbody td.aLeft {padding-left: 10px; text-align:left;}
.tbList1 table tbody td .pic {width: 60px; height: 70px; border:1px solid #c7c7c7;}

/* 텍스트 뷰2 */
.tbList2 {overflow:hidden; width: 100%;}
.tbList2 table {width: 100%; border-top: 2px solid #9fd6ac; margin: 0 0 0 -1px;;}
.tbList2 table th:first-child,
.tbList2 table td:first-child {}

.tbList2 table thead {}
.tbList2 table thead th {height: 30px; border-left: 1px solid #9fd6ac; border-bottom: 1px solid #9fd6ac; color:#539163;}
.tbList2 table thead th {background: #f7fbf8;}
.tbList2 table thead th .icon {display:inline-block; margin: 0 4px;}
.tbList2 table thead th a {color:#539163;}
.tbList2 table tbody td * {vertical-align:middle;}
.tbList2 table tbody td,
.tbList2 table tfoot td {padding: 10px 0; border-left: 1px solid #9fd6ac; border-bottom:1px solid #9fd6ac; text-align:center;}
.tbList2 table tbody td .thum {margin-right: 10px; border:1px solid #dadada;}
.tbList2 table tbody td.aLeft {padding-left: 10px; text-align:left;}
.tbList2 table tbody td .lecture {font-size: 18px; color:#333;}
.tbList2 table tbody td .lecTime {margin: 10px 0 0 0; color: #1c78c2; font-size: 12px;}
.tbList2 table tbody td .studentNum {margin: 4px 0; font-size: 12px;}
.tbList2 table tbody tr.suspense td {background: #f7f9fb;}

.tbList2 .stInfo {padding: 0 !important; vertical-align:top;}
.tbList2 .stInfo table {border-top: 0;}
.tbList2 .stInfo table tr td {padding: 12px 0 11px 0; border-left: 1px solid #9fd6ac; border-top:1px solid #dadada; border-bottom: none !important ;}
.tbList2 .stInfo table tr:first-child td {border-top: none !important}

/* ul.tdList li {border-top: 1px solid #dadada; padding: 12px 0 11px 0;} */
ul.tdList li {border-top: 1px solid #dadada; padding: 6px 0 6px 0;}
ul.tdList li:first-child {border-top: 0px;}

td .tbList2 {margin: 7px 0 0 0;}
td .tbList2 tbody tr td:first-child,
td .tbList2 tfoot tr td:first-child{text-align:left;}
td .tbList2 thead th {text-align:center;}
td .tbList2 tbody tr td,
td .tbList2 tfoot tr td {padding-left: 10px; padding-right: 10px; text-align:right;}
td .tbList2 tfoot tr td {border-top: 2px solid #9fd6ac; background: #e9f0f7; font-weight: bold;}

.career thead th,
.career tbody td {border: 1px solid #bfdcc8 !important; font-size: 12px;}

.career thead th {height: 35px; text-align:center !important;}
.career tbody td {text-align:center !important;}

/* 썸네일 뷰 */
.thumList {overflow:hidden; width: 100%;}
.thumList ul {margin: 0 0 0 -56px; display:inline-block;}
.thumList ul li {float:left; width: 150px; height: 180px; margin: 0 0 0 56px;}
.thumList ul li .thum {width: 148px; height: 103px; border: 1px solid #dadada;}
.thumList ul li strong {display:block; line-height: 1.4; text-align:center;}

.hGroup {position:relative; margin: 15px 0 15px 0;}
.hGroup h2 {padding: 0 0 0 10px; background: url('../../images/common/icon/arrow_h2.gif') 0 50% no-repeat; line-height: 1; color:#333;}
.hGroup .btn, 
.hGroup p {position:absolute; top: -4px; right: 0;}

.tblForm {overflow:hidden; border-top: 2px solid #9fd6ac; border-bottom:1px solid #bfdcc8;}
.tblForm table {width: 100%; margin: -1px 0 0 0;}
.tblForm table tbody {}

.tblForm table tbody th,
.tblForm table tbody td {border-top: 1px solid #dadada}
.tblForm table tbody th {padding-left: 15px; background: #f7f9fb; text-align:left; letter-spacing: -1px;}
.tblForm table tbody th strong {padding: 0 0 0 12px; color:#539163;}
.tblForm table tbody th strong.star {background: url('../../images/common/icon/star.gif') 0 50% no-repeat;}
.tblForm table tbody td * {vertical-align:middle;}
.tblForm table tbody td {padding: 7px 0 7px 15px;}
	.profile {width: 100px; text-align:center;}
	.profile .thum {width: 100px; height: 120px; margin: 0 0 4px 0 ;border: 1px solid #c7c7c7;}

	.logoUpload {overflow:hidden;}
	.logoUpload .thum {width: 165px; height: 200px; border: 1px solid #dadada;}
	.logoUpload .preview {width:100px; height: 100px; margin: 0 10px 0 0; border:1px solid #efefef;}
	.logoUpload .preview img {width: 100px; height: 100px;}
	.logoUpload .cnt {padding: 60px 0 0 0;}
	.logoUpload .cnt p {font-size: 12px; margin: 0 0 2px 0;}

	.campusChk {margin: 8px 0 0 0;}
	.campusChk li {float:left; width: 150px; padding: 3px 0;}
	.campusChk li label {font-size: 12px;}

/* 학습구성 */
.studyMakeup {position:relative; overflow:hidden; padding: 15px; border-bottom:1px solid #bfdcc8;}
.studyMakeup .control {position:absolute; top: 180px; left: 426px;}
.studyMakeup .control a {display:block; margin: 4px 0;}
.studyMakeup .sideL {width: 400px; float:left;}
.studyMakeup .sideR {width: 400px; float:left; margin: 0 0 0 70px;}
.studyMakeup .sideR .listArea {margin: 28px 0 0 0;}

.studyMakeup .tab {overflow:hidden; margin-top: 6px;}
.studyMakeup .tab a {float:left; height: 22px; line-height: 22px; margin: 0 1px 0 0; padding: 0 10px; background: #efefef;}
.studyMakeup .tab a:hover,
.studyMakeup .tab a.on {background: #39b54a; color:#fff;}
.studyMakeup .listArea {overflow:hidden; overflow-y: auto; height: 309px; border:2px solid #dadada;}
.studyMakeup .listArea ul {}
.studyMakeup .listArea ul li {padding: 6px 10px; border-bottom:1px solid #dadada; cursor: pointer;	}
.studyMakeup .listArea ul li.on,
.studyMakeup .listArea ul li:hover {background: #f7f9fb; font-weight: bold; letter-spacing: -1px;;}
.studyMakeup .item {color:#333;}

.bookInfo * {vertical-align:middle;}
.bookInfo {margin: 0 0 14px 0; padding:6px; border: 1px solid #9fd6ac; background: #f7f9fb;}
.bookInfo .thum {display:inline-block; width: 80px; height: 100px; margin: 0 6px 0 0; border:1px solid #dadada;}
.bookInfo .thum img {width: 80px; height: 100px;}
.bookInfo strong {font-size: 16px;}

.tabArea {overflow:hidden; height: 25px; margin: 0 0 1px 0; padding: 3px 10px 0 10px; background: #9fd6ac;}
.tabArea ul {float:right;}
.tabArea ul li {float:left; background: url('../../images/common/gnb_line.gif') 0 50% no-repeat;}
.tabArea ul li:first-child {background: none;}
.tabArea ul li a {display:inline-block; height: 25px; padding: 0 20px; font-weight: bold; color:#fff; line-height: 25px; font-size: 12px; letter-spacing: -1px;}
.tabArea ul li a:hover,
.tabArea ul li a.on {background: #fff; color:#539163;}

#infoCnt .tabArea {padding-left: 3px !important;}
#infoCnt .tabArea ul {float:left;}


#container .dayArea {overflow:hidden; position:relative; padding: 2px 0 0 0; background: #38b449;}
#container .dayArea ul {float: right; margin: 0 165px 0 0;}
#container .dayArea ul li * {vertical-align:middle;}
#container .dayArea ul li {float:left; position:relative; width: 156px; text-align:center; background:url('../../images/cardMap/line.gif') right 9px no-repeat;}
#container .dayArea ul li .menu {display: inline-block; height: 36px; line-height: 36px; text-align:center; font-size: 16px; color:#fff;}

#container .dayArea ul li .del {display:none;}
#container .dayArea ul li.on {border-radius: 6px 6px 0 0; background: #fff;}
#container .dayArea ul li.on .menu {color:#38b449;}
#container .dayArea ul li.on .del {display:block; position:absolute; top: 13px; right: 40px; font-size: 0;}
#container .dayArea .add {position:absolute; top: 5px; right: 54px;}
#contents .refAdd {margin: 34px 0 0 0; text-align:center;}

/* lessonMap */
.trash {display:none; position:absolute; top: 0; left: 0; z-index: 99999; width: 100%; height: 165px; background: rgba(0,0,0, 0.7) url('../../images/common/trash.png') no-repeat 50% 50%;}
.trash.on {background: rgba(170,0,0, 0.7) url('../../images/common/trash_on.png') no-repeat 50% 50%;}

.lessonMap {width: 1280px; margin: 0 auto;}
.lessonMap .subTit {display:none; position:absolute; top: 20px; left: 24px;}

.lessonMap header {display:none; position: relative; height: 110px; margin: 110px 44px 0 44px;}
.lessonMap header .classTit {font-size: 34px; text-align: right; color: #d1d1d1;}
.lessonMap header h1 {padding: 24px 0 0 0; font-size: 30px;}
.lessonMap header h1 strong {font-family: 'avenirH';}
.lessonMap header .dayLine {position: absolute; top: 36px; right: 0; }

.dayLine {overflow: hidden; background: url('../../images/function/dotLine.gif') repeat-x 0 50%;}
.dayLine li {float: left; margin-left: 20px; padding: 0px 0 8px 0; /* display: -webkit-box; -webkit-box-pack: center; -webkit-box-align: center; */}
.dayLine li:first-child {margin-left: 0;}
.dayLine li strong {
box-sizing: border-box; display: block; width: 56px; height: 56px; margin: 8px 0 0 0; padding: 20px 0 0 0;
background: #d1d1d1; border-radius: 56px; color: #f1f7f6; font-size: 18px; text-align: center; text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}
.dayLine li span {display: none;}
.dayLine li.on strong {width: 72px; height: 72px; margin-top: 0; background: #999; border-radius: 56px; line-height: 1; box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);}
.dayLine li.on strong span {display: block !important;}
.dayLine li.on strong em {display: block !important;}

.lessonMap .cardWrap .btnPrev,.lessonMap .cardWrap .btnNext {position: absolute; z-index: 1015; top: 128px; display: block; width: 50px; height: 55px; background-color: rgba(37, 52, 71, 0.8); background-repeat: no-repeat;}
.lessonMap .cardWrap .btnPrev {left: 0; border-radius: 0 28px 28px 0; box-shadow: 8px 20px 15px 0 rgba(0, 0, 0, 0.3); background-image: url('../../images/common/ico_arrL.png'); background-position: 16px 50%;}
.lessonMap .cardWrap .btnNext {right: 0; border-radius: 28px 0 0 28px; box-shadow: 8px 20px 15px 0 rgba(0, 0, 0, 0.3); background-image: url('../../images/common/ico_arrR.png'); background-position: 22px 50%;}
.lessonMap .cardWrap {position: relative; margin-top: 24px; margin-left: 34px; width:1233px; height:375px; overflow:hidden; overflow-x: auto;}
/* .lessonMap .cardWrap {position: relative; margin-top: 24px; margin-left: 34px; width:1220px; height:362px; max-height:365px;} */
.lessonMap .cardWrap::-webkit-scrollbar {height: 8px;}
.lessonMap .cardWrap::-webkit-scrollbar-thumb {background: #eaeaea; -webkit-border-radius: 4px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
.lessonMap .cardWrap.activeDrag{overflow:inherit !important;}


.lessonMap .cardWrap article{position:absolute; top:0px; left:0px; min-width:1233px; min-height:362px;  max-height:365px; overflow:hidden;}
.lessonMap .cardWrap:after {content: ''; display: block; clear: both; zoom: 1; height: 0; visibility: hidden;}
.cardSet {float:left;}
.card {position:relative; float: left; box-sizing: border-box; width: 220px; height: 310px; padding: 4px; border-radius: 18px; background: #89c3ce; box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);}
.infoTip {
display:none; position:absolute; top: 0; left: 0; width: 120px; height: 44px; margin: 7px 0 0 0; line-height: 44px; border-radius: 3px;
box-shadow: 18px 18px 16px 0 rgba(0,0,0, 0.2); background: rgba(37, 52, 71, 0.8); color:#fff !important; font-size: 18px; text-align:center;
}
.infoTip:before {content: ''; position:absolute; top: -7px; left: 50%; width: 0; height: 0; margin: 0 0 0 -7px; border: 7px solid transparent; border-top: 0; border-bottom: 7px solid rgba(37, 52, 71, 0.8); }

.card.disable {background: #d1d1d1; -webkit-filter: grayscale(100%);}
.card.disable .thum:after {content: ''; position:absolute; top: 5px; left: 5px; display:block; width: 200px; height: 118px; background: #bdbdbd; opacity: 0.7; border-radius: 18px;}

.card.homework {background-color: #89c9b9 !important;}
.card.extra {background-color: #bed881 !important;}
.card.edited {background-color: #fff !important;}
.card.edited .cnt p {color:#999;}
.card.edited .cnt .number {color: rgba(0,0,0, 0.2);}
.card.edited .cnt .icon {/*box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, 0.2);*/}
.card.select {box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.3);}

.card .cnt {position: relative; height: 260px; border-radius: 18px; border: 1px dashed rgba(0, 0, 0, 0.2); text-align: center;}
.card .cnt .thum {position:relative;}
.card .cnt .thum img {width: 200px; height: 118px; ; margin: 5px 0 0 0; border-radius: 18px; box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);}
.card .cnt .icon {display: block; width: 50px; height: 50px; margin: 3px auto 0 auto; border: 1px dashed #999; border-radius: 50px; background-size: contain;}

.card .cnt .icon.personStudy {background: url('../../images/common/icon/study_person.png') 50% 50% no-repeat;}
.card .cnt .icon.groupStudy {background: url('../../images/common/icon/study_group.png') 50% 50% no-repeat;}
.card .cnt .icon.study {background: url('../../images/common/icon/study.png') 50% 50% no-repeat;}

.card .cnt p {margin: 10px 0 6px 0; color: #fff; font-size: 18px;}
.card .cnt .number {padding: 6px 0 0 0; color: rgba(255, 255, 255, 0.5); font-size: 26px;}
.card .option * {vertical-align: middle;}
.card .option {margin: 7px 6px 0 0; text-align: right;}
.card .option .star,.card .option .edit {display: inline-block; box-sizing: border-box; height: 26px; border-radius: 26px; padding: 5px 0 0 0; background: rgba(0, 0, 0, 0.2); line-height: 0; font-size: 0; text-align: center;}

.card .option .star {padding-left: 5px; padding-right: 5px;}
.card .option .edit {width: 26px;}
.lessonMap .btnArea {padding: 0 46px 0; text-align: right;}
#btnAreaSave{display:none;}
#btnAreaEdit{display:block;}

.cardWrap {margin: 0 0 00px 0;}

.gap {float:left; width: 11px; height: 310px;}
.cardCrack {position:relative; box-sizing: border-box; height: 165px; margin: 0 0 30px 0; padding: 0px 45px 0px 35px; background: url('../../images/common/crack_bg.gif') 0 0 repeat-x;}
.cardCrack .cardSet {position:relative; -webkit-transform: scale(0.4); -webkit-transform-origin: 50% 0;}

.cardCrack .cardSet .del{position:absolute; top: 250px; left: 13%; margin: 0 0 0 -30px;}
.cardCrack .hiddenWrap {overflow:hidden; overflow-x: auto; width: 1060px; height:125px; padding: 20px 10px 20px 10px;}
/* .cardCrack .hiddenWrap {width: 1060px; height:125px; padding: 20px 10px 20px 10px;} */
.cardCrack .hiddenWrap::-webkit-scrollbar {height: 8px;}
.cardCrack .hiddenWrap::-webkit-scrollbar-thumb {background: #eaeaea; -webkit-border-radius: 4px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
.cardCrack .hiddenWrap .inner {width: 1060px; overflow:hidden; }
.cardCrack .hiddenWrap .subCard {overflow:hidden; overflow-x:auto; width:1070px; height:150px}

.cardCrack .addCard {
position:absolute; top: 20px; right: 48px; border-radius: 8px; width: 87px; height: 122px; border: 1px solid #3e4955; box-shadow: 0 10px 15px 0 rgba(0,0,0, 0.5);
background: #606c79 url('../../images/common/icon/add.png') 50% 50% no-repeat;
}
.cardCrack .hiddenWrap .cardSet{margin-right: -100px;}

/* pop: start lesseon */
.alertPop {
box-sizing: border-box; position: absolute; top: 50%; left: 50%; z-index: 1110; width: 500px; height: 320px; margin: -160px 0 0 -250px; padding: 20px;
background: #fff; border-radius: 18px; box-shadow: 40px 40px 20px 0 rgba(0,0,0, 0.4); text-align:center;
}
.alertPop .cnt {box-sizing: border-box; height:230px; padding: 80px 0 0 0;}
.alertPop p {font-size: 30px; color:#999;}
.alertPop p strong {color:#444;}
.alertPop .popBtn {display:inline-block; border-radius: 3px; width: 225px; height: 48px; line-height: 48px; text-align:center; box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.3); background: #a8aeb5; font-size: 20px; color:#fff;}
.alertPop .popBtn.type1 {background: #7c8591;}

/* cardDetailInfo */
.cardDetailInfo {box-sizing: border-box; position:absolute; top: 0; left: 50%; width: 1280px; height: 638px; margin: 0 0 0 -640px; background: rgba(0,0,0, 0.7); z-index: 1100;}
.cardDetailInfo .card {position:absolute; top: 70px; width: 330px; height: 465px;;}
.cardDetailInfo .card .cnt p {margin-top: 18px; font-size: 27px;}

.cardDetailInfo .card.front {left: 294px;}
.cardDetailInfo .card.back {left: 665px; background-image: url('../../images/common/card_bg.png'); background-repeat: 0 0;}

.cardDetailInfo .card .cnt {height: 453px;}
.cardDetailInfo .card.front .cnt .thum img {width: 300px; height: 175px; margin: 7px 0 0 0;}
.cardDetailInfo .card.front .cnt .icon {margin-top: 36px; width: 73px; height: 73px;}
.cardDetailInfo .card.front .cnt .number {padding-top: 8px; font-size: 39px;}

.cardTbl {margin: 56px 12px 0 12px;}
.cardTbl table {width: 100%;}
.cardTbl table th,
.cardTbl table td {padding: 7px; text-align:left; border-top: 1px solid rgba(0,0,0, 0.1); font-family: avenirH;}
.cardTbl table tr:first-child th,
.cardTbl table tr:first-child td {border-top: none;}
.cardTbl table td {color:#fff;}

.cardDetailInfo .close {position:absolute; top: 20px; right: 20px;}
.cardDetailInfo .btnArea {position:absolute; bottom: 44px; right: 20px;}
/* //cardDetailInfo */

/* //lessonMap */