@charset "utf-8";
@import url("reset.css");

.popTxt {margin: 0 0 10px 0;}
.fileUpload {padding: 0 0 30px 0; border-bottom:1px solid #bfcddc;}

#popup {position:relative;}
#popup .close {position:absolute; top: 0; right: 0;}
#popup > h1 {height: 40px; line-height: 40px; padding: 0 30px; background: #39b54a; color:#fff; font-size: 16px;}

#popup #cnt {padding: 30px 30px 15px 30px; text-align:center;}

#popup #cntSelect,
#popup .popCnt {padding: 30px 30px 15px 30px;}
#popup .popCnt .tbList2 table td > a {color:#1c78c2; }
#popup .popCnt.reference > p  {height: 140px; overflow:auto; padding: 14px; border: 2px solid #eaeaea}
#popup .popCnt.reference .btnArea {text-align:center;}
.dragArea {height: 140px; margin: 7px 0 0 0; padding: 7px; background: #ebebeb;}

#cntSelect .section {overflow:hidden; position:relative;}
#cntSelect .section .selectArea {margin-top: 0;}
#cntSelect .section .control {position:absolute; top: 250px; left: 458px;}
#cntSelect .section .control a {display:block; margin: 3px 0;}
#cntSelect .section .sideL,
#cntSelect .section .sideR {float:left; width: 440px; height: 550px;}
#cntSelect .section .sideR {margin: 0 0 0 80px;}
#cntSelect .section .sideR .selectArea {position:relative; text-align:left;}
#cntSelect .section .sideR .selectArea p {position:absolute; top: 10px; right: 20px; text-align:right; font-size: 12px;}

/* 텍스트 뷰3 */
.poptbList {overflow:hidden; overflow-y: auto; height: 480px; border-top: 2px solid #9fd6ac; border-bottom: 1px solid #9fd6ac;}
.poptbList table {width: 100%; margin: 0 0 0 -1px; font-size: 12px;}
.poptbList table thead th {height: 30px; border-left: 1px solid #9fd6ac;  color:#539163;}
.poptbList table thead th {background: #f7fbf8;}
.poptbList table thead th a {color:#539163;}
.poptbList table tbody td * {vertical-align:middle;}
.poptbList table tbody td {padding: 10px 0; border-left: 1px solid #9fd6ac; border-bottom:1px solid #9fd6ac; text-align:center;}

#infoCnt {width: 690px; margin: 15px 0 0 30px;}
#infoCnt .hGroup {margin: 20px 0 10px 0 !important;}

#infoCnt .userInfo {float:left; width: 690px; height: 125px; margin: 0 0 20px 0; background: url('../images/popup/info_bg.gif') 0 0 no-repeat;}
#infoCnt .userInfo .userProfile {float:left; width: 210px; height: 110px; padding: 16px 0 0 16px;}
#infoCnt .userInfo .userProfile .thum {float:left; width: 74px; height: 88px; margin: 0 14px 0 0; border: 3px solid #89b0d5;}
#infoCnt .userInfo .userProfile .thum img {width: 74px; height: 88px;}
#infoCnt .userInfo .userProfile .name {overflow:hidden; padding: 6px 0 0 0;}
#infoCnt .userInfo .userProfile .txtBlue {display:block;}
#infoCnt .userInfo .userProfile p {
	height: 18px; line-height: 1; margin: 22px 0 0 0; padding: 4px 0 0 20px; color:#f38d1a; font-weight: bold;
	background: url('../images/popup/point.gif') 0 0 no-repeat; font-size: 16px;
}

#infoCnt .detail {overflow:hidden; width: 431px; height: 114px; padding: 12px 0 0 28px;}
#infoCnt .detail ul {height: 84px;}
#infoCnt .detail ul li {margin: 0 0 3px 0; padding: 0 0 0 9px; font-size: 12px; line-height: 1.6; background: url('../images/common/icon/arrow_h2.gif') 0 5px no-repeat;}

