@CHARSET "UTF-8";

body{
 padding-top:20px;
 padding-left:20px;
 font-size: 12px;
}

#container {
    position: relative;
    width:100%;
    height:100%;
}
        
#ApiList {
    position: absolute;
    left:0px;
    width:250px;
    background-color:#F1F6FF;
    border-style:solid;
    border-width: 1px 1px 1px 1px;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

#InputForm {
    margin-left: 250px;
    background-color:#E8E8E8;
    border-style:solid;
    border-width: 1px 1px 0px 0px;
    padding-left:10px;
}

#RequestForm {
    margin-left: 250px;
    background-color:#F8DDCE;
    border-style:solid;
    border-width: 1px 1px 0px 0px;
    padding-left:10px;
}
        
#ResultForm {
    margin-left: 250px;
    background-color:#E1DAE6;
    border-style:solid;
    border-width: 1px 1px 0px 0px;
    padding-left:10px;
}
#JsonViewer {
    margin-left: 250px;
    border-style:solid;
    border-width: 1px 1px 1px 0px;
}

.padding20 {
    padding-bottom: 20px;
}

iframe {
    border:none;
}
/*
* 그냥 무지개 색깔이 넣고 싶었어요. 홍홍홍  class="rainbow" 만 넣어서 사용하세요.
*/
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}